<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.graise.ansafn.managelifeblood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lb_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lb_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityMenu" />
        <activity android:name=".ActivityMngcriteria" />
        <activity android:name=".ActivityUserreg" />
        <activity android:name=".ActivityStockManagement" />
        <activity android:name=".ActivityLogin"></activity>
    </application>

</manifest>